.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    visibility: hidden;
}

.custom-scrollbar:hover::-webkit-scrollbar {
    visibility: visible;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: linear-gradient(
        lightgray 0%,
        lightgray 50%,
        transparent 50%,
        transparent 100%
    );

    border-radius: 10px;
    height: 2px;
    background-position: center;
}

.custom-scrollbar {
    overflow-y: auto;
}